body{
  background:rgba(0,0,0);
}
.bottom-padding{
  padding:0 10px;
}
.container-main{
  margin:auto;
  overflow:hidden;
  width:100%;
  text-align:center;
}
.container-one{
  background:rgba(255, 68, 0, 0.623);
  border-radius:10px;
  padding: 0 10px;
}
.container-two{
  background:rgba(169, 169, 169, 0.877);
  border-radius:5px;
}
.grid{
  background:rgb(192, 192, 192);
  width: 30%;
  height:50px;
  display:inline-block;
  margin:5px;
  border-radius:10px;
}
